body{
    margin: 0;
}
ul{
    margin: 0;
}
.danhmuc{
    background-color: #2fa4e7;
    padding: 15px;
}
.danhmuc-danhsach{
    display: flex;
    list-style: none;
}
.danhmuc-lienket{
    color: white;
    text-decoration: none; 
    /* bỏ gạch chân */
    font-size: larger;
}
.danhmuc-muc{
    margin: 10px;
}
.danhmuc-lienket:hover { /*di chuyen doi mau*/
    color: gray;
}
.logo{
    height: 80px;
    background-color: #c5e6f8;
}
.logo-humg{
    display: flex;
    background-color: white;
    width: 25%;
}
.logo img {
    margin-top: 5px;
    width: 60px;    
    height: 70px;
}
.logo-word{
    padding: 15px;
}
.logo-name{
    color: #194e92;
}
.logo-name1{
    color: gray;
}
main{
    display: flex;
}
.noidung-trai{
    /* height: 1000px; */
    background-color: rgb(225, 234, 234);
    width: 80%;
    border-radius: 10px 10px 0px 0px;
}
.noidung-phai{
    height: 1000px;
    background-color: rgb(221, 240, 240);
    width: 20%;
}
.tieude{
    background-color: rgb(79, 176, 224);
    padding: 10px;
    color: white;
    font-size: x-large;
    font-weight: bold;
    border-radius: 10px 10px 0px 0px;
    margin-top: 10px;
}
.tintuc-danhsach{
    display: flex;
    justify-content: space-between; /*cach deu cac khoi*/
}
.baiviet{
    height: 200px;
    width: 32%;
    background-color: bisque;
    position: relative;
    display: inline-block;
}
img{
    height: 200px;
    width: 100%;
}
.chutren {
    position: absolute;
    background-color: rgba(207, 232, 246, 0.7);
    width: 100%;
    text-align: right;
}
.chuduoi {
    position: absolute;
    bottom: 0;
    background-color: rgba(207, 232, 246, 0.7);
    width: 100%;
    height: 30px;
}
.tin-thongbao {
    display: flex;
    margin: 10px;
}
.thongbao-left {
    width: 30%;
    height: 200px;
    margin-right: 5%;
}
.thongbao-right {
    width: 65%;
    height: 200px;
    display: flex;
}
.thongbao-left img {
    width: 90%;
    height: 130px;
   margin-left: 15px;
}
.thongbao-left i {
    justify-content: flex-end;
    display: flex;
}
.chutrai{
    width: 80%;
}
.chuphai{
    width: 20%;
}
.huongdan1{
    display: flex;

}
.right-content{
    background-color: white;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
}
.login{
    color: white;
    background-color: #37a7e8;
    font-size: 18px;
    padding: 16px;
    border-radius: 5px 5px 0 0;
}
.form{
    margin-left: 20px;
    margin-right: 20px;
}
.form-row{
    padding: 6px 0;
    display: flex;
}

.form-forget{
    color: #37a7e8;
    display: flex;
    justify-content: flex-end;
}
.form-login{
    margin: 4px 0;
    background-color: #37a7e8;
    color: white;
    font-size: 16px;
    text-align: center;
    padding: 4px;
    border-radius: 5px;
}
.form-micro{
    background-color: #0078d4;
    color: white;
    font-size: 16px;
    text-align: center;
    padding: 4px;
    border-radius: 5px;
    margin-bottom: 4px;
}
.setup {
    margin-top: 35px;
}
.setup-mobile {
    border-radius: 10px 10px 0 0;
    background-color: #37a7e8;
    color: white;
    font-size: 20px;
    padding: 10px 10px 10px 30px;
}
.setup-app {
    margin: 20px 20px;
}
.setup-apps {
    color: white;
    background-color: black;
    font-size: 16px;
    padding: 4px 30px;
    border-radius: 8px;
    margin: 20px;
}
.setup-qr {
    margin: 20px auto;
    width: 150px;
}
.setup-qr img{
    width: 100%;
    height: 150px;
}
.form-login a{
    text-decoration: none;
    color: white;
}