body{
    margin: 0;
}
ul{
    margin: 0;
}
.danhmuc{
    background-color: #2fa4e7;
    padding: 20px;
}
.danhmuc-danhsach{
    display: flex;
    list-style: none;
}
.danhmuc-lienket{
    color: white;
    text-decoration: none; 
    /* bỏ gạch chân */
    font-size: larger;
}
.danhmuc-muc{
    margin: 10px;
}
.danhmuc-lienket:hover { /*di chuyen doi mau*/
    color: gray;
}
.logo{
    height: 80px;
    background-color: black;
}
main{
    display: flex;
}
.noidung-trai{
    /* height: 1000px;
    background-color: aqua; */
    width: 80%;
    border-radius: 10px 10px 0px 0px;
}
.noidung-phai{
    height: 1000px;
    background-color: rgb(103, 112, 112);
    width: 20%;
}
.tieude{
    background-color: rgb(79, 176, 224);
    padding: 20px;
    color: white;
    font-size: x-large;
    font-weight: bold;
    border-radius: 10px 10px 0px 0px;
}
.tintuc-danhsach{
    display: flex;
    justify-content: space-between; /*cach deu cac khoi*/
}
.baiviet{
    height: 200px;
    width: 32%;
    background-color: bisque;
}
img{
     height: 200px;
    width: 100%;
}