body{
    margin: 0;
}
ul{
    margin: 0;
}
.danhmuc{
    background-color: #2fa4e7;
    padding: 15px;
}
.danhmuc-danhsach{
    display: flex;
    list-style: none;
}
.danhmuc-lienket{
    color: white;
    text-decoration: none; 
    /* bỏ gạch chân */
    font-size: larger;
}
.danhmuc-muc{
    margin: 10px;
}
.danhmuc-lienket:hover { /*di chuyen doi mau*/
    color: gray;
}
.logo{
    height: 80px;
    background-color: #c5e6f8;
}
.logo-humg{
    display: flex;
    background-color: white;
    width: 25%;
}
.logo img {
    margin-top: 5px;
    width: 60px;    
    height: 70px;
}
.logo-word{
    padding: 15px;
}
.logo-name{
    color: #194e92;
}
.logo-name1{
    color: gray;
}
main{
    display: flex;
}
.noidung-trai{
    /* height: 1000px;
    background-color: aqua; */
    width: 80%;
    border-radius: 10px 10px 0px 0px;
}
.noidung-phai{
    height: 1000px;
    background-color: rgb(103, 112, 112);
    width: 20%;
}
.tieude{
    background-color: rgb(79, 176, 224);
    padding: 10px;
    color: white;
    font-size: x-large;
    font-weight: bold;
    border-radius: 10px 10px 0px 0px;
}
.tintuc-danhsach{
    display: flex;
    justify-content: space-between; /*cach deu cac khoi*/
}
.baiviet{
    height: 200px;
    width: 32%;
    background-color: bisque;
    position: relative;
    display: inline-block;
}
img{
     height: 200px;
    width: 100%;
}
.chutren {
    position: absolute;
    background-color: rgba(207, 232, 246, 0.7);
    width: 98%;
    text-align: right;
}
.chuduoi {
    position: absolute;
    bottom: 0;
    background-color: rgba(207, 232, 246, 0.7);
    width: 98%;
    height: 30px;
}